name: hello-world
on: 
  - workflow_dispatch
jobs:
  my-job:
    runs-on: windows-latest
    steps:
      - name: Set up Cygwin
        uses: egor-tensin/setup-cygwin@v4
        with:
          packages: cmake gcc-g++
          
      - name: Check out repository code
        uses: actions/checkout@v4 # Clones the repo onto the runner
        
      - name: echo
        run: echo "Hello World!"
      
      - name: ls
        run: ls
        
      - name: cat 
        run: cat hello.c
        
      - name: compile 
        run: gcc hello.c && ls
