name: hello-world
on: [workflow_dispatch]
jobs:
  my-job:
    runs-on: windows-latest
    steps:
      - name: Install Cygwin Action
        uses: cygwin/cygwin-install-action@v6
        
      - name: my-step
        run: echo "Hello World!"
